services:
  postgres:
    image: postgres:15
    container_name: orgflow_db
    environment:
      POSTGRES_DB: orgflow
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
